html, body {
  height: 100%;
  width: 100%;
}


.main {
  width: 10rem;
  margin: 0 auto;
  align-items: center;
  margin-top: 1rem;
}

input{
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  outline: none;
  border: none;
  margin: 0.5rem;
  flex: 1;
}

.input-container{
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background:  #777799;
  padding: 1rem 1.5em;
  position: relative;
  width:min(100%, 45rem);
  border-radius: 0.3rem;
  overflow: hidden;
}

.input-btn{
  padding: 1rem;
  border-radius: 0.2rem;
  color :#fff;
  font-size: 1.5rem;
  text-align: center;
  background: #9696c0;
  cursor: pointer;
  outline :none;
  border: none;
}

}